.bg-green {
    background-color: #334f53 !important;
    color: #e1e3ac !important;
}

.bg-green:hover {
    background-color: #4b6366 !important;
}

.page-item.active .page-link {
    background-color: #334f53 !important;
    border-color: #334f53 !important;
}


@media only screen and (max-device-width: 431px) {
    .btn-mobile {
        margin-top: 1rem !important;
        width: 100% !important;
    }

    .pagination-container {
        margin: auto !important;
    }

    .refresh {
        display: none;
    }
}