.bg-green {
    background-color: #334f53 !important;
    color: #e1e3ac !important;
}

.bg-green:hover {
    background-color: #4b6366 !important;
}

@media only screen and (max-device-width: 431px) {
    .refresh {
        display: none;
    }
}