.btn-login{
    background-color: #334f53 !important;
    color: #e1e3ac !important;
}

.btn-back{
    background-color: #e5ead4 !important;
    color: #334f53 !important;
    border: 1px solid #334f53;
}