<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "HomePage" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>Empréstimos</h3>
              <p>Visualizar meus empréstimos</p>
            </div>
            <div class="icon">
              <i class="fab fa-leanpub"></i>
            </div>
            <a routerLink="/app/emprestimos" class="small-box-footer">
              Acessar
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>Livros</h3>
              <p>Visualizar livros disponíveis</p>
            </div>
            <div class="icon">
              <i class="fas fa-book"></i>
            </div>
            <a routerLink="/app/livros" class="small-box-footer">
              Acessar
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3 class="title">Meu Perfil</h3>
              <p class="text">Atualizar perfil</p>
            </div>
            <div class="icon">
              <i class="fas fa-user"></i>
            </div>
            <a routerLink="/app/meu-perfil" class="small-box-footer text">
              Acessar
              <i class="fas fa-arrow-circle-right text"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>